@model pro2.Models.Objct

@{
    ViewBag.Title = "Objct";
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="@Url.Content("~/Scripts/knockout-2.2.0.js")"></script>
    <script type="text/javascript">
        // View-model will go here
        function ObjctViewModel() {

            var self = this;
            self.objcts = ko.observableArray();

            var baseUri = '@ViewBag.ApiUrl';
            var actUri = '@ViewBag.ActUrl';
            self.create = function (formElement) {
                $(formElement).validate();
                if ($(formElement).valid()) {
                    $.post(baseUri, $(formElement).serialize(), null, "json").done(function (o) { self.objcts.push(o); });
                }
            }

            $.getJSON(actUri, self.objcts);
        }
        $(document).ready(function () {
            ko.applyBindings(new ObjctViewModel());
        })
    </script>
}


<div class="content">

    <div class="float-right">
        <h2 class="float-right">:إضافة معروض جديد</h2>
        <br />
        <br />
        <form id="addProduct" class="float-right" data-bind="submit: create">
            @Html.ValidationSummary(true)
            <fieldset class="float-right">
                <legend>Contact</legend>

                <div class="float-right">
                    <div class="float-right">
                        @Html.Label(":الاسم")
                    </div>

                    <div>
                        @Html.EditorFor(model => model.Name)
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </div>
               <br />
                <div class="float-right">
                    <div class="float-right">
                        @Html.Label(":الوصف")
                    </div>

                    <div >
                        @Html.TextAreaFor(model => model.Description)
                        @Html.ValidationMessageFor(model => model.Description)
                    </div>
                </div>

                   

                    @Html.HiddenFor(model => model.ExhibitionId, new { @Value = @ViewBag.ExId })

                    <p>
                        <input type="submit" value="  حفظ" class="float-right" onclick="location.reload(true)" />
                    </p>
</fieldset>
        </form>
    </div>
</div>

  
<div class="float-right">
    <hr />
        
        
        <ul id="prod" data-bind="foreach: objcts">
           
            <li class="float-right">

                <div>
                    <h4><span data-bind="text: $data.Name" class="float-right" />
                </div>
                <div class="float-left">
                    <a data-bind="attr : {'href': '@Url.Action("ManageObject", "home")/' + Id } ">تعديل</a>
                </div>
              <br />
                <textarea id="TextArea1" rows="6" cols="300" data-bind="text: $data.Description" readonly="readonly"></textarea>
                <br />
                <div class="float-right">
                    <a data-bind="attr : {'href': '@Url.Action("QrGenerator", "home")/' + Id  } " target="_blank">QR إنشاء رمز</a>

                </div>
            </li>
            

        </ul>
    </div>
